body{
    display: grid;
    place-items: center;
    background-image: url(https://img.freepik.com/free-photo/white-wall-texture-background_24972-2224.jpg?w=740&t=st=1702744123~exp=1702744723~hmac=9d52f17a58211bf640c8f0072e6e08a033756ed23d115c3d47c5530927f574eb);
}

.content{
    background-color: white;
    border-radius: 1.5rem;
    margin: 150px 0 0 0;
    display: grid;
    box-shadow: 0 2px 10px gray;
    width: 500px;
    padding-bottom: 20px;
}
.inputForm{
    display: grid;
}
.inputBox{
    width: 200px;
    font-size: 18px;
    height: 30px;
    margin: 10px 0 0 0;
    border-radius: 0.5rem;
}
.tag{
    font-size: 20px;
    margin: 0 10px 0 50px;
}
.topic{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0 40px 0;
}
.btnArea{
    display: grid;
    place-items: center;
}
.btnLogin{
    all:unset;
    margin: 30px 0 10px 0;
    display: grid;
    place-items: center;
    box-shadow: 0 1px 5px gray;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    height: 40px;
    width: 100px;
}
.btnLogin:hover{
    background-color: gray;
}